@charset "utf-8";
body {
    margin: 0;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: scroll;
    background-image: url(backgrounddp-01.png);
}
wrapper {
    width: 1366px;
    margin: auto;
    display: block;
    padding: 16px;
    background-repeat: no-repeat;
    height: 1190px;
    background-size: cover;
}
.home {
    height: 500px;
    background-size: cover;
}

ul a li {
    padding: 10px 25px;
    display: inline-block;
    margin-right: -37px;
}
ul a li:hover {
    color: rgba(255,0,4,1.00);
}

nav {
    background-color: rgba(0,0,0,0.00);
    font-size: 18px;
    margin-top: -28px;
}
wrapper header h1 {
    text-align: center;

}

nav ul a {
    color: white;
}
.dobleporcion {
    font-size: 52px;
    background-repeat: no-repeat;
    background-size: 149px 60px;
    font-family: "Lacquer", system-ui;
    margin-right: 429px;
    margin-left: -64px;
}

footer {
    width: 1366px;
    background-color: rgba(0,0,0,1.00);
    margin: auto;
    text-align: center;
    color: rgba(255,255,255,1.00);
}
